nemo_toolkit[tts]==1.23.0
torch==2.1.2
torchaudio==2.1.2
fastapi==0.115.0
uvicorn[standard]==0.30.6
numpy==1.26.4
transformers==4.36.2
huggingface_hub==0.19.4
datasets==2.14.7
pyarrow==12.0.1
soundfile==0.12.1
librosa==0.10.2
scipy
structlog==24.1.0

# Observability (Tracing & Metrics)
opentelemetry-distro==0.46b0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-instrumentation-fastapi==0.46b0